<!-- Introduction to Task 1 -->
<!-- First play video -->
<div class="videoContainer" *ngIf = "this.introEnded && !this.showPicture && !this.playAltAudio">
  <video (ended)="videoEnded()" controls autoplay="autoplay" preload="auto" [src]="getCurrentVideo()" type='video/mp4'></video>
</div>

<!-- Then show image and buttons (or coordinates) -->
<div class="secondContainer" *ngIf = "this.introEnded && this.showPicture && !this.playAltAudio && !playSecondAudio">
  <div class="imgContainer" *ngIf = "this.trial.picture">
    <!-- populating image -->
    <img [src]="getCurrentImage()" usemap="#testmap" #theimage />

    <!-- populating coordinates -->
    <map name = "testmap">
      <area *ngFor = "let c of getCurrentImageCoordinates(); index as i" (click)="setValue(i)" shape = "rect" [coords]="c.coordinate">
    </map>
    <div *ngFor="let c of blockedCoordinates()" [ngStyle]="{'position': 'absolute', 'z-index': '10', 'width':'80px', 'height':'80px', 'left':getCssCoordinates(c.coordinate)[2], 'top':getCssCoordinates(c.coordinate)[3]} "></div>
  </div>
  <!-- no audio in this experiment -->
  <!-- <audio (ended)="audioEnded()" autoplay [src]="getCurrentAudio(1)" type="audio/mp4"></audio>  -->

  <!-- populating buttons if buttons required -->
  <app-button (response) = "setValue($event)" [buttons]="getCurrentButtons()"></app-button>
</div>

